.container {
  display: flex;
  flex-direction: column;
  gap: 70px; /* Espaciado entre tarjetas */
  justify-content: start; /* Centrado horizontal */
  align-items: start; /* Cetrado vertical */
  padding-bottom: 10vh;
}

.main-text {
  font-family: "Inter", serif;
  font-size: 30px;
  font-weight: 400;
  text-align: justify;
  max-width: 700px;
  margin: 0 auto; /* Centra el párrafo principal */
  line-height: 1.8; /* Espaciado entre líneas */
  color: #ffffff; /* Gris claro para legibilidad */
  padding-bottom: 180px;
  margin-top: 50px; /* Espaciado inferior */
  animation: fadeIn 2s ease-in-out; /* Fade-in con CSS*/
  /* animation: slideIn 1s ease-out; */
}

.about-us {
  padding: 40px 20px; /* Espaciado general */
  max-width: 1200px;
  margin: 0 auto; /* Centrar la sección en pantalla */


  flex: 1; /* Permite que este contenedor crezca para ocupar espacio */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  text-align: center;
  padding: 5% 20px;
}

.text-white {
  color: #ffffff; /* Blanco */
}

.text-blue {
  color: #FFC857; /* Azul verdoso */
}

.spacer{
  height: 300px;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas pequeñas */
  margin-left: -8px; /* Ajuste para compensar el padding */
  margin-right: -8px;
}

.col-md-4 {
  padding: 40px; /* Espaciado entre columnas */
}

/* Animaciones */
@keyframes fadeIn { /* Fade-in con CSS*/
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .main-text {
    font-size: 28px; /* Reducir tamaño del texto */
    margin-bottom: 60px;
  }

  .container {
    gap: 60px; /* Reducir espacio entre los íconos */
  }

}

@media screen and (max-width: 480px) {
  .main-text {
    font-size: 24px; /* Reducir aún más el tamaño del texto */
  }
}

/* Define un color de selección personalizado en CSS */
.selected-item {
  color: #150655; /* Aquí puedes poner el color que prefieras para los enlaces activos */
}

