.spacer{
    height:700px;
  }

  .subheader {
    position: fixed;
    top: 60px; /* Ajusta según la altura del header principal */
    width: 100%;
    background-color: #f8f9fa;
    z-index: 1000;
  }
  

  