*{
  border: 1px solid red
}

body{
  margin:0;
}

.background {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  width: 100%;
  min-height: 100vh; /*El contenedor crece dinamicamente segun su contenido y no se limita a un tamaño definido como lo fue 100vh*/
  background: linear-gradient(45deg, #1B1B2F, #53354A);

}

.main-content {
  flex: 1; /* Permite que este contenedor crezca para ocupar espacio */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  text-align: center;
  padding: 5% 20px;
  color: #ffffff;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 3vw;
  color: #ffffff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 9vw;
  letter-spacing: 2px;
  color: #ffffff;
  margin:0    
}

.spacer{
  height: 300px;
}
.footer-text {
  padding: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  color: #ffffff;
  box-sizing: border-box;
}

.linea-separadora {
  height: 0.5vw;
  background-color: #E0E0E0;
} 

/* Media Queries */
@media (max-width: 768px) {

  h1 {
    font-size: 10vw; /* Ajuste del tamaño del h1 en pantallas más pequeñas */
  }

  p {
    font-size: 4vw; /* Ajuste del tamaño del párrafo en pantallas más pequeñas */
    margin-top: 70px;
  }

  footer{
    position: relative;
    bottom: 0;
  }

  .header {
    flex-wrap: nowrap; /* Mantiene los elementos en una sola línea */
    justify-content: space-between; /* Logo a la izquierda, navegación a la derecha */
    padding: 0 10px 0px 0px; /* Reduce el padding lateral en móviles */
  }

  .logo {
    margin-left: 0; /* Elimina cualquier margen adicional a la izquierda */
    flex-shrink: 0; /* Evita que el logo se reduzca */
  }

  .logo img {
    max-height: 70px; /* Ajusta el tamaño del logo para móviles */
    width: auto; /* Mantiene la proporción de la imagen */
  }

  .nav {
    flex: 1; /* Deja que la navegación ocupe el espacio disponible */
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
  }

  .nav-list {
    flex-direction: row; /* Mantiene los enlaces en línea horizontal */
    gap: 10px; /* Ajusta el espaciado entre los enlaces */
    text-align: center; /* Centra los enlaces si hay espacio */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 10vw; /* Asegura que el h1 se ajuste aún más en pantallas muy pequeñas */
  }

  p {
    font-size: 5vw; /* Asegura que el texto se ajuste también */
  }

  .footer-text{  
    font-size: 2vw;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}

 /*----------------HEADER--------------------------------*/
 /* Estilos para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 30px 0px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box; /* Evita que el padding desborde */
}

/* Estilo del logo */
.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #171a3a;
  white-space: nowrap; /* Evita que el logo haga salto de línea */
}


.nav-list {
  list-style: none;
  display: flex;
  gap: 20px; /* Espaciado entre los elementos */
  margin: 0;
  padding: 0;
}

/* Estilos para cada enlace */
.nav-item .nav-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #171a3a;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-item .nav-link:hover {
  color: #1B1B2F ; /* Cambia el color al pasar el mouse */
}

/* Responsividad para dispositivos móviles */
  .logo {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo y el texto */
    gap: 10px; /* Espacio entre el logo y el texto */
    flex-shrink: 0;
  }

  .logo img {
    height: 80px; /* Ajusta el tamaño del logo según sea necesario */
    width: auto; /* Mantiene la proporción del logo */
  }
