.container-contact{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide la pantalla en 2 partes iguales */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.formulario{
  align-items: center;
  padding: 0 5vw 0 5vw;
}

.input-names{
  display: flex;
  flex-direction: row;
}
.input{
  padding: 5px;
}

.input-text-area{
  padding: 5px 5px 0 5px;
}
.contact-us-title{
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Asegúrate de que no haya márgenes innecesarios */
    font-size: 0.8rem; /* Ajusta el tamaño del título según lo que prefieras */
    color: #FFC857 ; /* Estilo del color del título */
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10rem;
    /* text-shadow: 5px 5px 45px ; */
}

.text{
    text-align: start;
    font-size: 5rem;
    color: #ffffff;
    font-family: "Inter", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.contact-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centrado horizontal */
    text-align: left;
    padding: 0 5vw 0 5vw;
    animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;

}

.spacer{
    height: 300px;
  }
/**********************************************************************************************************************/
.contact-icon {
    font-size: 1.5rem;
    color: #FFC857;
  }
  
  .contact-link {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .contact-link:hover {
    color: #888888;
    text-decoration: underline;
  }

  .contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
  }

  @keyframes fadeIn { /* Fade-in con CSS*/
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Consultas de medios para hacerlo responsive */

/* Pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
    /* Ajusta el tamaño de los textos en pantallas pequeñas */
    .footer-text {
        padding: 15px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 2.2vw;
        color: #ffffff;
        box-sizing: border-box;
        margin-top: 25vh;
    }
  
  
    /* Ajustar la disposición del contenido de la página */
    .contact-us {
      margin-left: 2rem; /* Eliminar margen izquierdo en pantallas pequeñas */
      padding: 1rem; /* Añadir padding para mayor espaciado */
    }
  
    .title {
      font-size: 1rem; /* Ajustar tamaño de título en pantallas pequeñas */
      margin-top: 3rem; /* Ajustar el margen superior */
    }
  
    .text {
      font-size: 2.5rem; /* Ajustar tamaño de texto */
    }
  
    .contact-item {
      font-size: 1.2rem; /* Reducir tamaño de los íconos y texto */
      flex-direction: row; /* Colocar iconos y texto en columna */
      align-items: flex-start; /* Alinear a la izquierda */
      gap: 10px; /* Reducir espacio entre icono y texto */
    }
  
    .contact-icon {
      font-size: 1.8rem; /* Ajustar tamaño de los iconos */
    }
  
    .contact-link {
      font-size: 1.2rem; /* Reducir tamaño de los enlaces */
    }
  
    .spacer {
      height: 200px; /* Ajustar altura del espaciador */
    }
  }
  
  /* Pantallas muy pequeñas (menos de 480px) */
  @media (max-width: 480px) {
    .footer-text {
        padding: 15px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 2.2vw;
        color: #ffffff;
        box-sizing: border-box;
    }
  
    /* Ajuste del tamaño de texto y márgenes en el contenido */
    .title {
      font-size: 0.9rem;
      margin-top: 2rem; /* Ajustar margen superior */
    }
  
    .text {
      font-size: 2rem; /* Ajustar tamaño de texto */
      padding-bottom: 1rem;
    }

    .contact-item {
      font-size: 1rem; /* Reducir aún más el tamaño de los textos */
      flex-direction: row;
      align-items: flex-start;
      gap: 8px; /* Reducir el espacio entre los elementos */
    }
  
    .contact-icon {
      font-size: 1.5rem; /* Reducir el tamaño de los iconos */
    }
  
    .contact-link {
      font-size: 0.9rem; /* Reducir tamaño de los enlaces */
    }
  
    .spacer {
      height: 150px; /* Ajustar altura del espaciador */
    }

    .contact-us {
        margin-top: 2rem;
        margin-left: 2rem; /* Eliminar margen izquierdo en pantallas pequeñas */
        padding: 1rem; /* Añadir padding para mayor espaciado */
      }
  }