.categories-list {
    list-style: none; /* Elimina los bullets de la lista */
    padding: 0;
    margin: 0;
  }
  
  .categories-list-item {
    padding: 0.5rem 1rem; /* Ajusta el espaciado */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    color: #333; /* Color del texto por defecto */
  }
  
  .categories-list-item:hover {
    background-color: #f0f0f0; /* Cambia el fondo al pasar el ratón */
  }
  
  .categories-list-item.selected {
    color: #3B82F6
  }
  